.search{
    border-radius: 10px;
    background: #F4F4F4;
    padding: 25px 10px;
    margin: 56px 0 10px 0;
    

    }

    i{
        padding: 0 20px;
        color: var(--Blue_01, #1F3F68);
        opacity: 0.6;
        
    &__input{
        padding-left: 10px;
        background-color: transparent;
        color: var(--Blue_01, #1F3F68);
        font-family: Arial;
        font-size: 16px;
        opacity: 0.6;
        border: none;
    }
}